.App {
  text-align: center;
  background-color: black;
}
button {
  background-color: ;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}
.Logo {
  height: 650px;
  width: auto;
}
.All {
}
.bou {
  width: 100%;
  display: flex;
  justify-content: center;
}
.f {
  margin-top: 500px;
}
.Lou {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}
.image {
  height: 100px;
  width: auto;
}
.appst {
  height: 80px;
  width: auto;
}
.aaa {
  height: 500px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fff {
  height: 500px;
  width: auto;
}
